# Ignore Cargo build artifacts
target/

# Ignore VSCode-specific files
.vscode/
*.code-workspace
.devcontainer/

# Ignore RustRover (JetBrains IDE) specific files
.idea/
*.iml

# Ignore git files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

